body{
	height:1000px;
	margin: 0;
    padding: 0;
    background: #b7bf76;
    overflow: hidden;
}

svg {
	width: 100%;
	height:inherit;
}

.score{
	font-family: cursive;
	font-size: 1.5em;
}

.point{
	font-size:4em;
}
.piece{
	animation: pulse 5s infinite;
	fill-color:#ffffff;
}

@keyframes pulse {
  0% {
    fill: currentColor;
  }
  100% {
    fill: #FF4136;
  }
}

.piecesB{
	animation: pulse 5s 1;
}

@keyframes pulseB{
	0%{
		fill: #fff;
	}
	100%{
		fill: #000;
	}
}

.piecesW{
	animation: pulseW 5s 1;
}

@keyframes pulseW {
  0% {
    fill: #000;
  }
  100% {
    fill: #FFf;
  }
}